/* app css stylesheet */
html,
body {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.content-container {
  min-height: 100vh;
}

.container-card {
  margin: auto;
}
/*Parallax Images and Text*/

#codeBackground .backgroundImage {
  background-image: url('../assets/img/code_laptop.jpg');
}

#codeBackground .backgroundImage div{
  background-color: #fafafa;
}

#skillsBackground .backgroundImage {
  background-image: url('../assets/img/table_talk.jpg');
}


#skillsBackground .backgroundImage div{
  background-color: #80cbc4;
}

#myWorkBackground .backgroundImage {
  background-image: url("../assets/img/responsive-slide-tall-min.jpg");
}

#myWorkBackground .backgroundImage div{
  background-color: #4dd0e1;
}

.backgroundImage{
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.backgroundImage div {
   margin-left: 20vw;
   text-align: center;
 }

.backgroundImage h1 {
  padding-left: .3em;
  padding-right: .3em;
  margin-top: .1em;
  margin-bottom: .1em;
  font-weight: bolder;
}


/*Skillbars*/

#skillBarsContainer {
  height: 80vh;
}

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.expert {
  background: #80cbc4;
}

.expert .skillbar-title,
.expert .skillbar-bar {
  background: #009688;
  width: 85%;
}

.proficient {
  background: #b0bec5;
}

.proficient .skillbar-title,
.proficient .skillbar-bar {
  background: #607d8b;
  width: 70%;
}

.familiar {
  background: #bcaaa4 ;
}

.familiar .skillbar-title,
.familiar .skillbar-bar {
  background: #795548;
  width: 60%;
}


.skillbar-bar {
  height:35px;
  width:0;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#444;
  color:rgba(0, 0, 0, 0.4);
}

/*myWork*/

.heading-container {
  width: 100vw;
}

.heading-container a {
  color: #ffffff;
}

.filter {
  margin-top: 0;
}

.portfolio-card {
  position: relative;
  padding: 0;
  margin-bottom: 2em;
}

.portfolio-card {
  transition: all 2s linear;
  -moz-transition: all 2s linear; /* Firefox 4 */
  -webkit-transition: all 2s linear; /* Safari and Chrome */
  -o-transition: width 2s linear; /* Opera */
  -ms-transition: width 2s linear; /* Explorer 10 */
}

.portfolio-info {
  display: none;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  padding: 10px;
  background: rgba(0, 191, 255,.8);
  color: #ffffff;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.portfolio-info ul {
  padding-top: 12%;
}

.portfolio-list li:hover .portfolio-info {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
