<!DOCTYPE html class="no-js">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Matt Morris - Frontend Developer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">-->
  <!--<link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <!--<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/bower_components/ng-materialize/dist/ng-materialize.css">
  <link rel="stylesheet" href="app/styles/app.css">
  <!--<script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body ng-app="myApp"
      ng-cloak
      ng-controller="mainController as ctrl"
      layout="column"
      class="grey lighten-5">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header >
    <!-- Main Nav -->
    <div class="z-depth-1 grey lighten-5" id="navbar" >
      <nav role="navigation" class="container z-depth-0">
        <div class="nav-wrapper col s12" id="home">
          <a href="#home" class="col s2 offset-s3 brand-logo blue-grey-text text-darken-2">Matt Morris</a>
          <a href="#"  class="button-collapse" ng-click="side='fixed'"><i class="material-icons blue-grey-text">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="blue-grey-text" du-smooth-scroll offset="40" href="#stengths">Strengths</a></li>
            <li><a class="blue-grey-text" du-smooth-scroll offset="40" href="#skillBars">Skills bars</a></li>
            <li><a class="blue-grey-text" du-smooth-scroll offset="40" href="#myWork">Work</a></li>
            <li><a class="blue-grey-text" href="#about">About me</a></li>
          </ul>
          <ul class="side-nav" ng-class="side" id="mobile-nav">
            <li><a class="blue-grey-text waves-effect waves-teal" offset="40" du-smooth-scroll href="#stengths" ng-click="side=''">Strengths</a></li>
            <li><a class="blue-grey-text waves-effect waves-teal" offset="40" du-smooth-scroll href="#skillBars" ng-click="side=''">Skills bars</a></li>
            <li><a class="blue-grey-text waves-effect waves-teal" offset="40" du-smooth-scroll href="#myWork" ng-click="side=''">My work</a></li>
            <li><a class="blue-grey-text " href="#about">About me</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

    <background-with-card id="codeBackground">Hi, I'm <span class="teal-text text-lighten-2">Matt</span></background-with-card>

    <strengths id="stengths"> </strengths>

    <background-with-card id="skillsBackground" >skills</background-with-card>

    <skill-bars id="skillBars"></skill-bars>

    <background-with-card id="myWorkBackground" >work</background-with-card>

    <my-work id="myWork"></my-work>

    <footer-component id="contact"></footer-component>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
  <script src="app/bower_components/ng-materialize/dist/ng-materialize.js"></script>
  <script src="app/bower_components/angular-scroll/angular-scroll.js"></script>
  <script src="app/scripts/projectsService.js"></script>
  <script src="app/scripts/index.js"></script>
  <script src="app/scripts/backgroundWithCard.js"></script>
  <script src="app/scripts/myWork.js"></script>
  <script src="app/scripts/strengths.js"></script>
  <script src="app/scripts/footerComponent.js"></script>
  <script src="app/scripts/skillBars.js"></script>
  <!--<script src="myApp.js"></script>-->
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>
</body>
</html>
