<div class="footer blue-grey darken-3 z-depth-1 white-text">
    <div class="row container">
        <div class="col m6 s12">
            <h5>Contact Me</h5>
            <p class="contact-details">
                <b>Location:</b> Dallas, TX<br/>
                <b>Phone:</b> (682)240-0641<br/>
                <b>Email:</b> <a href="mailto:mcm0027@yahoo.com">mcm0027@yahoo.com</a>
            </p>
        </div>
        <div class="col m6 s12">
            <h5>Connect</h5>
            <ul class="social-links">
                <a href="https://github.com/mcm0027" class="github"><img src="./app/assets/img/circle.svg"></a>
                <a href="https://www.linkedin.com/in/matt-morris-96322b73" class="linkedin"><img src="./app/assets/img/social.svg"></a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="center-align col m12">
            <div>Icons made by <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div class="footer-copyright">&copy; 2015 Matt Morris. All rights reserved.</div>
        </div>
    </div>
</div>