<div class="footer blue-grey darken-3 z-depth-1 white-text">
    <div class="row container">
        <div class="col m6 s12">
            <h5>Contact Me</h5>
            <p class="contact-details">
                <b>Location:</b> Dallas, TX<br/>
                <b>Phone:</b> (682)240-0641<br/>
                <b>Email:</b> <a href="mailto:mcm0027@yahoo.com">mcm0027@yahoo.com</a>
            </p>
        </div>
        <div class="col m6 s12">
            <h5>Connect</h5>
            <ul class="social-links">
                <a href="https://github.com/mcm0027" class="github"><i class="fa fa-github fa-5x "></i></a>
                <a href="https://www.linkedin.com/in/matt-morris-96322b73" class="linkedin"><i class="fa fa-linkedin fa-5x "></i></a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="center-align col m12">
            <div class="footer-copyright">&copy; 2015 Matt Morris. All rights reserved.</div>
        </div>
    </div>
</div>