<div class="content-container grey lighten-5 z-depth-3" id="myWorkContainer">
    <div class="container row" ng-init="z='z-depth-1'">
        <ul class="portfolio-list">
            <li ng-repeat="project in vm.projects" class="col m6 l4" ng-mouseenter="z='z-depth-2'" ng-mouseleave="z='z-depth-1'">
                <div ng-show="filter === project.type || filter === project.type2 || filter === 'all'" class="vanishIn enter-vanishIn exit-vanishOut speed-700 stagger-100 portfolio-card" ng-class="z">
                    <a ng-click="buttonHide(project.id, project.type)"><img ng-src="./app/assets/img/project_screenshots/{{project.image}}" alt="{{project.title}}" class="responsive-img"></a>
                    <div class="portfolio-info valign-wrapper hvr-rectangle-out">
                        <ul class="valign">
                            <li class="portfolio-project-name center-align valign"><strong>{{project.title}}</strong></li>
                            <li class="center-align valign">{{project.shortTech}}</li>
                            <li class="center-align valign "> <a class="blue-grey" ng-href="http://mattmorrisdev.net/sites/{{project.siteName}}">View demo</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

