<div class="container row valign-wrapper" id="skillBarsContainer">
    <div class="col s12 valign">
        <div class="col s6">
            <h3>Hard Skills</h3>
            <div class="skillbar clearfix proficient" data-percent="65%">
                <div class="skillbar-title"><span>HTML5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!---  CSS --->
            <div class="skillbar clearfix familiar" data-percent="85%">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!---- /CSS --->
            <!----- jQuery  ------->
            <div class="skillbar clearfix expert" data-percent="60%">
                <div class="skillbar-title"><span>J</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!----- /jQuery  ------->
        </div>
        <div class="col s6">
            <h3>Soft Skills</h3>
            <div class="skillbar clearfix expert" data-percent="65%">
                <div class="skillbar-title"><span>HTML5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!---  CSS --->
            <div class="skillbar clearfix proficient" data-percent="85%">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!---- /CSS --->
            <!----- jQuery  ------->
            <div class="skillbar clearfix familiar" data-percent="60%">
                <div class="skillbar-title"><span>J</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!----- /jQuery  ------->
        </div>
    </div>
</div>
