<div class="content-container grey lighten-5 valign-wrapper z-depth-3" id="skillBarsContainer">
    <div class="valign container row">
        <div class="col s12">
            <div class="col s12 m6">
                <h4>Languages</h4>
                <div class="skillbar clearfix expert">
                    <div class="skillbar-title"><span>HTML5</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Excellent</div>
                </div>
                <!---  CSS --->
                <div class="skillbar clearfix expert">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Excellent</div>
                </div>
                <!---- /CSS --->
                <!---  AngularJS --->
                <div class="skillbar clearfix expert">
                    <div class="skillbar-title"><span>AngularJS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Excellent</div>
                </div>
                <!---- /AngularJS --->
                <!---  JavaScript --->
                <div class="skillbar clearfix proficient">
                    <div class="skillbar-title"><span>JavaScript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Proficient</div>
                </div>
                <!---- /JavaScript --->
                <!--- TypeScript --->
                <div class="skillbar clearfix familiar">
                    <div class="skillbar-title"><span>TypeScript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Familiar</div>
                </div>
                <!--- /TypeScript --->
            </div>
            <div class="col s12 m6">
                <h4>Tools</h4>
                <!---  Bootstrap --->
                <div class="skillbar clearfix proficient">
                    <div class="skillbar-title"><span>Bootstrap</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Proficient</div>
                </div>
                <!---- /Bootstrap --->
                <!---  Git --->
                <div class="skillbar clearfix proficient">
                    <div class="skillbar-title"><span>Git/Github</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Proficient</div>
                </div>
                <!---- /Git --->
                <!---  Gulp --->
                <div class="skillbar clearfix familiar">
                    <div class="skillbar-title"><span>Gulp</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Familiar</div>
                </div>
                <!---- /Gulp --->
                <!---  Test Driven Development --->
                <div class="skillbar clearfix familiar">
                    <div class="skillbar-title"><span>Test Driven Development</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Familiar</div>
                </div>
                <!---- /Test Driven Development --->
                <!---  Command Line --->
                <div class="skillbar clearfix familiar">
                    <div class="skillbar-title"><span>Command line</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Familiar</div>
                </div>
                <!---- /Test Driven Development --->
            </div>
        </div>
    </div>
</div>
