<div class="content-container grey lighten-5 valign-wrapper z-depth-3" id="skillBarsContainer">
    <div class="valign container row">
        <div class="col s12">
            <div class="col s6">
                <h3>hard skills</h3>
                <div class="skillbar clearfix proficient" data-percent="65%">
                    <div class="skillbar-title"><span>HTML5</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!---  CSS --->
                <div class="skillbar clearfix familiar" data-percent="85%">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!---- /CSS --->
                <!----- jQuery  ------->
                <div class="skillbar clearfix expert" data-percent="60%">
                    <div class="skillbar-title"><span>J</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!----- /jQuery  ------->
            </div>
            <div class="col s6">
                <h3>soft skills</h3>
                <div class="skillbar clearfix expert" data-percent="65%">
                    <div class="skillbar-title"><span>HTML5</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!---  CSS --->
                <div class="skillbar clearfix proficient" data-percent="85%">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!---- /CSS --->
                <!----- jQuery  ------->
                <div class="skillbar clearfix familiar" data-percent="60%">
                    <div class="skillbar-title"><span>J</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!----- /jQuery  ------->
            </div>
        </div>
    </div>
</div>
