


<section class="grey lighten-5 valign-wrapper content-container">
    <div class="container valign">
        <div class="section pt-section" data-name="About" id="about-me">
            <div class="row">
                <img class="responsive-img circle col s12 m3" src="../portfolioRedesign/app/assets/img/aboutMe.jpg" alt="">
                <p class="col s12 m8 offset-m1 flow-text">Hi, my name is Matt and I love working on websites. I have learned a great deal about working in the front-end through the Thinkful front-end career course and various other online resources. I have proven myself to be an adept learner and able to quickly use new knowledge for practical results. I love working in the front-end and particularly enjoy using the AngularJS framework.
                </p>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">language</i></h2>
                        <h4 class="center light">Responsive Design</h4>
                        <p class="center light flow-text">
                            Today's apps need to be made with all devices, screen sizes, browsers, and pixel ratios in mind. I work to provide a great experience for every user.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">chat_bubble_outline</i></h2>
                        <h4 class="center light">Performance</h4>
                        <p class="center light flow-text">
                            I employ numerous techniques to ensure a site offers fast load speeds and a smooth user experience on a variety of connection speeds and devices.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">track_changes</i></h2>
                        <h4 class="center light">SPAs</h4>
                        <p class="center light flow-text">
                            My focus is AngularJS, because it gives you the tools to eliminate many calls to the server, providing a smooth experience from view to view.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>
            </div>

            <div class="row center">
                <a du-smooth-scroll href="#contact" id="download-button" class="btn-large waves-effect waves-light amber accent-4" target="_blank">contact me</a>
            </div>
        </div>
    </div>
</section>