<section class="grey lighten-5 valign-wrapper content-container">
    <div class="container valign">
        <div class="section pt-section" data-name="About" id="ptsection-three">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">language</i></h2>
                        <h4 class="center light">HTML and CSS</h4>
                        <p class="center light">
                            Ability to create responsive and attractive websites from scratch or with the help of CSS frameworks such as Bootstrap and Materialize.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">chat_bubble_outline</i></h2>
                        <h4 class="center light">JavaScript and JS libraries</h4>
                        <p class="center light">
                            My focus is on SPAs using the AngularJS 1.x framework, but I like to use vanilla JS and JQuery as well.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">track_changes</i></h2>
                        <h4 class="center light">Development tools</h4>
                        <p class="center light">
                            Well versed in using Git/Github as version control as well as end to end and unit testing to provide protection and documentation for projects.
                        </p>
                    </div>
                    <div class="divider4"></div>
                </div>
            </div>

            <div class="row center">
                <a href="http://crtv.mk/g0GhU" id="download-button" class="btn-large waves-effect waves-light orange accent-3" target="_blank">contact me</a>
            </div>
        </div>
    </div>
</section>