<header class="z-depth-5">

    <!-- Main Nav -->
    <nav role="navigation" class="grey lighten-5">
        <div class="nav-wrapper z-depth-1 col s12" id="home">
            <a href="#home" class="col s5 offset-s1 brand-logo blue-grey-text text-darken-2">Matt Morris</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="blue-grey-text" href="#skills">Skills</a></li>
                <li><a class="blue-grey-text" href="#portfolio">Portfolio</a></li>
                <li><a class="blue-grey-text" href="#about">About Me</a></li>
            </ul>
        </div>
    </nav>
</header>